<!doctype html>
<html ng-app="demo">

<head>

	<meta charset="utf-8">

	<title>ngVidBg demo</title>

	<link rel="stylesheet" type="text/css" href="../dist/vidBg.css">

</head>

<body ng-controller="mainCtrl">
	<div>
		<vid-bg resources="resources" poster="poster" full-screen="fullScreen" muted="muted" z-index="zIndex" play-info="playInfo" pause-play="pausePlay"></vid-bg>
	</div>
	<div>Buffer status: {{playInfo.buffer}}</div>
	<div>Played: {{playInfo.played}}</div>
	<button ng-click="pausePlay = !pausePlay;">Toggle Play</button>
	<button ng-click="resources = ['http://demosthenes.info/assets/videos/polina.webm', 'http://techslides.com/demos/sample-videos/small.mp4'].slice(currentResourceIdx, 2); currentResourceIdx = 1 - currentResourceIdx;">Change resource</button>

	<script type="text/javascript" src="../bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="../dist/vidBg.js"></script>
	<script type="text/javascript">

		angular
		.module('demo', ['ngVidBg'])
		.controller('mainCtrl', ['$scope', function ($scope) {
			$scope.resources = [
				'http://techslides.com/demos/sample-videos/small.webm',
				'http://techslides.com/demos/sample-videos/small.ogv',
				'http://techslides.com/demos/sample-videos/small.mp4'
			],
			$scope.poster = 'http://placehold.it/2000&text=you%20may%20want%20to%20have%20a%20poster',
			$scope.fullScreen = false,
			$scope.muted = true,
			$scope.zIndex = '22'
			$scope.pausePlay = false,
			$scope.currentResourceIdx = 0;
			$scope.playInfo = {};
		}]);

	</script>
</bodu>

</html>